<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="padding-top: 15px;">
      <mat-form-field appearance="fill" > 
        <mat-label>Takım</mat-label>
        <mat-select [(ngModel)]="selectedTeam" required>
          <mat-option *ngFor="let takim of takimlar" [value]="takim.value">
            {{takim.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
    <div class="col-md-4"></div>
    
  </div>
  <div class="row" style="padding-bottom: 10px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button (click)="generate()" mat-raised-button color="primary">Generate</button>
      <button (click)="clean()" mat-raised-button color="primary">Temizle</button>
    </div>
    <div class="col-md-4"></div>

  </div>
</div>

<div class="row" *ngIf="showImage">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p>{{imageDescription}}</p>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div *ngIf="showImage" class="col-md-4">
    <img style="width: 400px; height: 400px;" class="images" [src]="imagePath" />
  </div>
  <div class="col-md-4"></div>
</div>


<router-outlet></router-outlet>
